body{
    color: rgb(83, 2, 59);
    background: rgb(247, 230, 230);
}

h1{
  font-family: monospace;
  font-size: xx-large;
  margin:auto;
  padding: 10px;
  width: 50%;
  text-align: center;
}

li {
  font-family: fantasy;
  font-size: large;
}